.product {
  padding: 4rem 0;
}
.product .row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
  width: 70%;
  margin: 0 auto;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem 0;
}
.main-photo,
.thumbnails li figure {
  border-radius: 0.8rem;
  overflow: hidden;
}
.thumbnails li figure {
  border: 2px solid transparent;
}
.thumbnails li figure.active {
  border: 2px solid tomato;
}
.thumbnails li figure.active img {
  opacity: 0.4;
}
.thumbnails li figure:hover {
  border: 2px solid tomato;
}
.thumbnails li figure:hover img {
  opacity: 0.4;
}
.product-info small {
  color: tomato;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.product-info h2 {
  font-size: 2.6em;
  margin: 1rem 0 2rem;
}
.add-item {
  margin-top: 2rem;
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
.add-item .counter {
  display: flex;
  align-items: center;
  background: hsl(223, 64%, 98%);
  gap: 1rem;
  border-radius: 5px;
}
.counter button {
  padding: 1.2rem;
  border: 0;
}
.counter button img {
  vertical-align: middle;
}
.add-cart {
  background: hsl(26, 100%, 55%);
  border-radius: 5px;
  color: white;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.add-cart.check {
  display: block;
  width: 100%;
}
.add-cart svg {
  fill: white;
}
.price {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: 1.8rem 0 0.6rem;
}
.price .final-value {
  font-size: 1.6em;
  font-weight: 700;
}
.price .discount {
  background: rgba(255, 99, 71, 0.3);
  color: tomato;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
}
.product-info .initial-value {
  color: gray;
  text-decoration: line-through;
}
.info-text {
  color: gray;
  margin-top: 2rem;
}
.disable {
  opacity: 0.5;
}
