@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: 'Kumbh Sans', sans-serif;;
}
a{
  color: black;
  text-decoration: none;
}
button{
  background: transparent;
  cursor: pointer;
  border: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  border: 0;
  background: transparent;
  cursor: pointer;
}
.img-fluid{
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
